<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add houseplant</h1>
	
	<div>
		<form th:object="${houseplant}" th:action="@{save}" action="#" method="post">
			
			<label for="name">Name</label> <input type="text" id="name" th:field="*{name}" />
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="scientificName">Scientific Name</label> <input type="text" id="scientificName" th:field="*{scientificName}" />
			<p th:if="${#fields.hasErrors('scientificName')}" th:errors="*{scientificName}">Scientific Name Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="year">Year</label> <input type="text" th:field="*{year}" />
			<p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			
			<label for="size">Size</label> <input type="text" id="size" th:field="*{size}" />
			<p th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Size Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>						
		  	
		  	<label for="types">Type</label>
			<select id="types" th:field="*{type}" class="form-control">
       		<option th:each="type: ${types}" th:value="${type.typeid}" th:text="${type.name}"></option>
    		</select>
				
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>
	